* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.container-game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.main-style {
  border: none;
  background-color: transparent;
  font-size: 36px;
  font-weight: 900;
  font-family: 'Helvetica', sans-serif;
  color: rgb(216, 197, 171);
  animation: fadein 1s;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.big-style {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 124px;
  font-weight: 900;
  font-family: 'Helvetica', sans-serif;
  color: rgb(216, 197, 171);
  animation: fadein 1s;
}

.main-style:hover, .big-style:hover {
  color:rgb(196, 164, 122);
  transform: scale(1.1);
  cursor: pointer;
}

.hidden {
  display: none;
}

#play-button {
  z-index: 1;
}